################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AutoBuddy_BETA_Fixed/Utilities/LanePower.cs
/AutoBuddy_BETA_Fixed/.vs/AutoBuddy_BETA_Fixed/v14/.suo